.footer {
  padding: rem(52) 4rem 1.5rem;
  background: $accentColor;
  color: #fff;
  border-radius: rem(102) rem(102) 0 0;

  @include mq-mob {
    padding: rem(35) rem(26) rem(60);
    border-radius: rem(48) rem(48) 0 0;
  }

  &-head {
    max-width: rem(600);
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: rem(26);
    gap: rem(22);

    &__image {
      width: rem(207);
    }

    @include mq-mob-inv {
      gap: 2rem;
      margin-bottom: rem(94);
      font-size: rem(18);
    }
  }

  &-logo {
    width: rem(348);

    @include mq-mob {
      width: rem(228);
    }

    img {
      width: 100%;
    }
  }

  &-middle {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: rem(152);

    @include mq-mob {
      gap: 2.5rem;
      flex-direction: column;
    }
  }

  &-menus {
    @include mq-mob {
      width: 100%;
    }

    >ul {
      display: flex;
      align-items: flex-start;

      @include mq-mob {
        flex-direction: column;
        gap: 2.5rem;
      }

      @include mq-mob-inv {
        gap: rem(152);
        font-size: rem(18);
      }

      >li {
        @include mq-mob {
          width: 100%;
        }

        >a {
          font-weight: 500;
          font-size: rem(24);

          @include mq-mob {
            font-weight: 600;
            font-size: 1.25rem;
          }
        }

        &.menu-item-has-children {
          @include mq-mob {
            >a {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-between;

              &::after {
                font-size: 1.5rem;
                font-family: 'icomoon' !important;
                content: "\e903"; //icon__dropdown
                transition: $transition;
              }

              &.opened::after {
                transform: scaleY(-1);
              }
            }

            >ul {
              display: none;
            }
          }
        }
      }

      ul {
        color: rgba(255, 255, 255, 0.8);

        li {
          padding-top: .75rem;
        }
      }
    }

    a {
      @include hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  &-info {
    @include mq-mob {
      width: 100%;
    }
  }

  &-contacts {
    @include mq-mob-inv {
      max-width: rem(307);
    }

    &__title {
      font-weight: 500;
      font-size: 1.5rem;

      @include mq-mob {
        font-weight: 600;
        font-size: 1.25rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        &::after {
          font-size: 1.5rem;
          font-family: 'icomoon' !important;
          content: "\e903"; //icon__dropdown
          transition: $transition;
        }

        &.opened::after {
          transform: scaleY(-1);
        }
      }
    }

    .item {
      @include mq-mob-inv {
        font-size: rem(18);
      }

      &:first-child {
        padding-top: .75rem;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      .label {
        font-weight: 600;
      }

      >a {
        text-decoration: underline;
      }

      span {
        color: rgba(255, 255, 255, 0.8);

        a {
          @include hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(#fff, .8);
    padding-top: rem(18);

    &__image {
      width: rem(228);
    }

    @include mq-mob {
      gap: rem(18);
      margin-top: rem(38);
      font-size: rem(12);
    }

    @include mq-mob-inv {
      padding-top: rem(24);

      &:not(:first-child) {
        margin-top: rem(60);
      }
    }
  }

  &-social {
    display: flex;
    gap: 0.75rem;
    margin-top: 1.5rem;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background: #029FEE;
      font-size: 1.5rem;

      @include mq-mob {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.25rem;
      }

      @include hover {
        background: darken(#029FEE, 10%);
      }
    }
  }
}