// =============================================
// VOLUNTEER PAGE STYLES
// =============================================

// Breadcrumb
.breadcrumb {
  display: flex;
  align-items: center;
  gap: rem(8);
  padding: rem(20) rem(80);
  font-size: rem(14);
  color: $primaryColor;

  @include mq-mob {
    padding: rem(16) rem(20);
  }

  a {
    color: $accentColor;
    text-decoration: none;

    @include hover {
      text-decoration: underline;
    }
  }

  &__separator {
    color: $primaryColor;
  }

  &__current {
    color: $primaryColor;
  }
}

// Hero Section
.vol-hero {
  padding: 0 rem(80);
  margin-bottom: rem(60);

  @include mq-mob {
    padding: 0 rem(20);
    margin-bottom: rem(40);
  }

  &__banner {
    position: relative;
    width: 100%;
    border-radius: 0 0 rem(40) rem(40);
    overflow: hidden;

    @include mq-mob {
      border-radius: 0 0 rem(24) rem(24);
    }

    img {
      width: 100%;
      height: rem(450);
      object-fit: cover;

      @include mq-mob {
        height: rem(280);
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

    h1 {
      font-size: rem(48);
      font-weight: 700;
      margin-bottom: rem(16);

      @include mq-mob {
        font-size: rem(32);
        margin-bottom: rem(12);
      }
    }

    p {
      font-size: rem(18);
      font-weight: 400;

      @include mq-mob {
        font-size: rem(14);
      }
    }
  }
}
